<%#
dataFile: 'src/data/users.json'
paramsKey: 'id'
%>

<%- include('/layout/header', {
  meta: {
    title: data.id.toUpperCase(),
    description: '',
  },
}) %>

<div class="container">
  <h1><%= data.id %></h1>
  <p><%= data.name %></p>

  <p>You are the <%= index + 1 %>th user.</p>

  <a href="/" style="display: block; margin-top: 50px;">Top</a>
</div>

<%- include('/layout/footer') %>
